html,body{
  margin: 0;
}
  /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
  /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
  
.footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  background-color: rgb(241, 236, 236);
  color: white;
  text-align: center;
}
  
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
  
.grid-item {
  border: 0px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: left;
  color: black;
  text-align: justify;
}
  
#heading{
  text-transform: capitalize;
  color:gold;
  text-shadow:2px 2px black;
  font-weight: normal;
  text-align: center;
}

.grid-item:hover{
  background-color: rgb(243, 246, 247);
}

#paradiv{
  width: 28%;
  margin-left: 36%;
  background-color:#3b5998;
  color: white;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 1% 1%;
}

#para{
  text-align:justify; 
  width: 300px;
}

h3{
  text-align: center;
}
figure, figcaption{
  text-align: center;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}

td{
  width:150px;
}