<!DOCTYPE html>
<html>

<head>
    <title>Home page</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <table width="100%" cellspacing="0">
        <tr bgcolor=" #3b5998">
            <td width="50%" align="center">
                <font color="white">
                    <h1>facebook</h1>
                </font>
            </td>
            <td align="center">
                <input type="text">
                <input type="text">
                <input type="button" value="Login">
            </td>
        </tr>
        <tr height="400" bgcolor="#dfe1ee" align="center">
            <td>
                <h2>Facebook helps you connect <br>and share with the people in your life.</h2>
            </td>
            <td>
                <h1>Create an account</h1>It's free and always will be.<br><br><br>
                <input type="text" placeholder="First name" size="50"><br><br>
                <input type="text" placeholder="Last name" size="50"><br><br>
                <input type="text" placeholder="Username" size="50"><br><br>
                <input type="password" placeholder="Password" size="50"><br><br>
                <input type="button" value="Sign In"><br>
            </td>
        </tr>
    </table>
</body>

</html>