{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Home page</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
        
        input {
            height: 20px;
            font-size: 15px;
        }
    </style>
</head>

<body>
    <table width="100%" cellspacing="0">
        <tr bgcolor="#3b5998">
            <td width="50%" align="center">
                <font color="white">
                    <h1>facebook</h1>
                </font>
            </td>
            <td align="center">

                <form action="/myapp/login/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" size="25" required>
                    <input type="password" name="password" placeholder="Password" size="25" required>
                    <input type="submit" value="LOGIN" style="height: 50px">
                </form>
            </td>
        </tr>
        <tr height="600" bgcolor="#dfe1ee" align="center">
            <td>
                <h2>Facebook helps you connect <br>and share with the people in your life.</h2>
                <p style="color:red">{{failMessage}}</p>
                <p style="color:green">{{successMessage}}</p>
            </td>
            <td align="left">
                <h1>Create an account</h1>It's free and always will be.
                <br><br><br>
                <form action="/myapp/register/" method="POST">
                    {% csrf_token %}
                    <input type="email" placeholder="Username(Email)" size="50" name="email" required><br><br>
                    <input type="password" placeholder="Password" size="50" name="password" required><br><br>
                    <input type="text" placeholder="First name" size="50" name="firstname" required><br><br>
                    <input type="text" placeholder="Last name" name="lastname" size="50" required><br><br>

                    <input type="date" name="dob" style=”margin-right:40%”; required><br><br>
                    <div style=”margin-right:44%”;>
                        <label><input type="radio"  name="gender" value="Male">
       Male</label>
                        <label><input type="radio"  name="gender" value="Female">
       Female</label>
                        <div>
                            <br><br>
                            <input type="Submit" value="SIGN IN"><br>
                </form>
            </td>
        </tr>
    </table>
</body>

</html>